body, html {
	height: 100%;
	margin: 0;
	background-color: #1C1C1C;
}

canvas {
	width: 100%;
	height: 100%;
}

span {
	color: white;
	font-family: Roboto;
	font-weight: 700;
	font-size: 40px;
	position: fixed;
	text-align: center;
	transition: 1.5s;

	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}